
        <mat-toolbar color="primary">
          <span class="welcome">Welcome to</span>

          <span class="logo">MLK-Solutions</span>
          <span class="spacer"></span>
          <button mat-button id="btnproduct" style="margin-right: 50px;" (click)="nextPage()">Products</button>
          <button mat-button id="otherbtn" routerLink="/about">About</button>
          <button mat-button id="otherbtn" routerLink="/services">Services</button>
          <button mat-button id="otherbtn" routerLink="/contact">Contact</button>
        </mat-toolbar>

